# Dependencies
node_modules/

# Build
dist/

# Reports
reports/html/
reports/allure-results/
reports/allure-report/
test-results/
playwright-report/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

# Temp
tmp/
temp/
